<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">







    <bean id="prodcuctDtoImp" class="org.sqli.pfe.spring.mvc.prodcuctDao.ProductDapImpl" />



    <bean id="productServiceImp" class="org.sqli.pfe.spring.basics.services.ProductServicesImpl">

        <constructor-arg  ref="prodcuctDtoImp" />

    </bean>



</beans>