<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Profil </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/students}"> Back </a>
            <br/>
            <h3 th:text="${student.id}"> Id </h3>
            <h3 th:text="${student.name}"> Name </h3>
            <h3 th:text="${student.email}"> Email </h3>
        </div>
    </div>
</div>
</body>
</html>