<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Student </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/students}"> Back </a>
            <form action="#" class="form-horizontal" th:action="@{/students/addAction}" th:object="${student}" method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Name</th>
                            <th> Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input th:placeholder="Name" th:field="*{name}" required/></td>
                            <td><input th:placeholder="Email" th:field="*{email}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>